{% import "m.html" as m %}

{% extends "stdbase.html" %}

{% block title_ext %}Login - {% endblock %}

{% block wrapper_classes %}wrapper-maxwidth{% endblock %}

{% block content %}
    <div class=input-header>Login</div>

    <div>
        {{m.flashed_messages()}}
    </div>

    <form method=post action="{{ url_for('.login') }}">
        <div class=input-desc>
            EMAIL ADDRESS
        </div>
        <div class=input-content>
            <input id=login-email name=email type=email placeholder="user@example.com" required=true autofocus>
        </div>

        <div class=input-desc>
            PASSWORD
        </div>
        <div class=input-content>
            <input id=login-password name=password type=password required=true>
        </div>

        <div class=input-remember>
            <input id=login-remember name=remember type=checkbox>
            <label for=login-remember>REMEMBER ME</label>
        </div>

        <div>
            <input type=submit id=login-button value="Login">
        </div>

        {{m.stoken_input()}}
    </form>

    <div class=login-extra-message>
        If you want to create an acccount, go to the <a href="{{ url_for('.register') }}">signup
        page</a>.
    </div>

{% endblock %}

